.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.header__icon > img {
  height: 50px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

.header__center > input {
  border: none;
  width: 250px;
  padding: 10px;
  outline-width: 0;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding-right: 24px;
}

.header__right > svg {
  margin-left: 6px;
  margin-right: 16px;
}

.header__right > p {
  margin-left: 6px;
  min-width: 120px;
}

@media (max-width: 716px) {
  .header__right > p {
    display: none;
  }

  .header__right {
    justify-content: flex-end;
    flex: 0.1;
  }
}

@media (max-width: 600px) {
  .header__icon > img {
    width: 50px;
    object-fit: cover;
    object-position: left top;
  }
}

@media (max-width: 510px) {
  .header__center {
    flex: 0.45;
  }

  .header__center > input {
    width: 125px;
  }
}
